body {
  font-family: sans-serif;
}

header {
  width: 100%;
  min-height: 100vh;
  background-color: #e2e9f7;
  nav {
    width: 220px;
    height: 100%;
    background-color: #0d74f5;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;

    .logo {
      display: inline-block;
      margin-bottom: 15vh;

      img {
        width: 150px;
      }
    }

    ul {
      position: fixed;
      list-style-type: none;
      padding-left: 0px;

      li {
        padding: 10px 0;
        margin: 5px 0;
        transition: 0.5s ease;

        a {
          color: #fff;
          text-decoration: none;

          i {
            font-size: 22px;
            margin-right: 20px;
          }

          span {
            font-weight: 600;
          }
        }

        &:hover {
          background-color: #fff;
          color: #0d74f5;
          a {
            color: #0d74f5;
          }
          padding: 11px 10px 6px 10px;
          margin: 5px 0 5px 10px;
          border-radius: 6px;
        }
      }
    }
  }

  .logo-icon {
    display: none;
    width: 150px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    nav {
      width: 10px;
    }
  }
}
